*{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}

.top-bar{
    background-color: darkblue;
    padding: 0.5%;
    margin: 0;
    text-align: center;
}

.top-bar a{
    background-color:darkblue;
    color: white;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 1%;
    position: relative;
}

.nav-links ul li a:hover{
    color:rgb(205, 159, 44);
    font-weight: bold;
}

.join-us{
    font-weight: 700;
    padding: 15px 25px;
    background-color: darkblue;
    border: 2px solid darkblue;
    color: white;
    margin: 0 2%;
    border-radius: 30px;   
}
.join-us:hover{
    background-color: white;
    color: darkblue;
    background-color: white;
    transition: 0.5s;
}

nav a{
    background-color: white;
    color: rgb(74, 74, 74);
    font-weight: bold;
}
@media(max-width:1100px) {
    .top-bar{
        font-size: 50%;
    }
}